<!DOCTYPE html>
<html>
<body>

<%dataStudents.forEach(function(students){%>
    FirstName <%=students.first_name%>
    LastName <%=students.last_name%>
    email <%=students.email%>
<%})%>

<form action="/students/edit/<%=dataStudents.id%>" method="post">
  <select name='SubjectId'>
    <%dataSubject.forEach(function(subject){%>
    <option value="<%=subject.id%>">
        <%=subject.subject_name%>
    </option>
    <%})%>
</select>
  <br>
  <input type="submit" value="Edit">
</form> 



</body>
</html>